---
import {
  EnvelopeAtFill,
  FileEarmarkPersonFill,
  Github,
  Linkedin,
} from "react-bootstrap-icons";
import resources from "../resources/resources.json";
const data = resources.info.avatar;
---

<>
  <div class="container-contact">
    <a class="container-email color-transition" href={`mailto:${data.email}`}
      >{data.email}</a
    >
    <div class="hstack container-social-media">
      <a href={data.socialMedia.LinkedIn}>
        <Linkedin className="container-icon" />
      </a>
      <a href={data.socialMedia.LinkedIn}>
        <Github className="container-icon" />
      </a>
      <a href={`mailto:${data.email}`}>
        <EnvelopeAtFill className="container-icon mail-icon" />
      </a>
      <a href="/public/CURICULUM YEHISON.pdf" download="Yehison_Perdomo_CV.pdf">
        <FileEarmarkPersonFill className="container-icon" />
      </a>
    </div>
  </div>
</>

<style>
  .container-contact {
    text-align: center;
    z-index: 1;
  }
  .container-email {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.5s ease;
  }

  .container-social-media {
    justify-content: center;
    margin: 5px;
  }
  .container-email:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(
      to right,
      var(--colorOne),
      var(--colorTwo),
      var(--blueFour)
    );
  }

  .container-email:hover {
    transform: scale(1.1);
  }

  .container-icon {
    fill: white;
    font-size: 2rem;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
  }

  .container-icon:hover {
    fill: var(--colorOne);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  .mail-icon {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    .container-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      position: absolute;
      bottom: 15px;
    }
    .container-social-media {
      width: 100vw;
    }

    .container-email {
      display: none;
    }
    .mail-icon {
      display: unset;
    }
  }
</style>
