---
import "bootstrap/dist/css/bootstrap.min.css";
import Frame from "../components/Frame.astro";
import Main from "../components/Main.astro";
import { ViewTransitions } from "astro:transitions";
import resources from "../resources/resources.json";
import Colors from "../components/Colors.jsx";
const { pageData } = Astro.props;
const currentDate = new Date();
const currentYear = currentDate.getFullYear();
const data = resources.info.avatar;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content={pageData.description || data.description}
    />
    <link rel="icon" type="image/png" href="/faviconYehison.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={data.name} />
    <title>{`${pageData.title} ${pageData.subTitle}`.trim()}</title>
    <ViewTransitions />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </head>
  <body id="main-body">
    <Frame />
    <Main pageData={pageData}>
      <slot />
    </Main>
    <footer class="container-footer">
      <div class="copyright">&copy; By {data.name} - {currentYear}</div>
    </footer>
    <Colors client:load />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Anta&family=Fira+Code:wght@300..700&display=swap");

  :root {
    --blueOne: #00faf8;
    --blueTwo: #2f82f5;
    --blueThree: #005cfa;
    --blueFour: #001020;
    --fontTitle: "anta";
    --fontText: "Fira Code";
  }

  * {
    user-select: none;
    font-size: 16px;
    font-family: var(--fontText), monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

  body,
  html {
    overflow: hidden;
    cursor: url(/public/cursor-32x32.svg), auto;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorFour);
  }

  h1,
  h3,
  h5 {
    font-family: var(--fontTitle), "Arial Narrow Bold", sans-serif;
  }
  p {
    font-size: 1.2em;
    font-weight: 300;
    hyphens: auto;
    text-align: justify;
  }

  strong {
    font-family: var(--fontTitle);
    font-weight: bolder;
  }

  .underline {
    content: " ";
    position: absolute;
    left: -20px;
    bottom: -5px;
    width: calc(290px + 5vw);
    height: 5px;
    background: linear-gradient(
      to right,
      var(--colorOne),
      var(--colorTwo),
      var(--blueFour)
    );
  }

  .container-footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    bottom: 0;
    width: 100vw;
    min-height: 10vh;
    background: linear-gradient(0deg, var(--colorFour), transparent);
  }

  .copyright {
    text-align: center;
    font-size: calc(0.5rem + 0.5vw);
  }

  @media screen and (max-width: 768px) {
    p {
      text-align: justify;
      font-size: 1rem;
    }
  }
</style>
